In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import HTML
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv('D:\\Prasad\\DS\\Upx\\Automobile_data.txt', sep=',',)

In [9]:
print df.columns

Index([u'symboling', u'normalized-losses', u'make', u'fuel-type',
       u'aspiration', u'num-of-doors', u'body-style', u'drive-wheels',
       u'engine-location', u'wheel-base', u'length', u'width', u'height',
       u'curb-weight', u'engine-type', u'num-of-cylinders', u'engine-size',
       u'fuel-system', u'bore', u'stroke', u'compression-ratio', u'horsepower',
       u'peak-rpm', u'city-mpg', u'highway-mpg', u'price'],
      dtype='object')

In [ ]:
df['symboling']

In [10]:
pd.unique(df.make)

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [31]:
df_make = df.groupby('make').size().order(ascending=False)
df_make

make
toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
chevrolet         3
alfa-romero       3
jaguar            3
renault           2
mercury           1
dtype: int64

In [29]:
pd.unique(df['fuel-type'])

array(['gas', 'diesel'], dtype=object)

In [32]:
df_fueltype = df.groupby('fuel-type').size().order(ascending=False)
df_fueltype

fuel-type
gas       185
diesel     20
dtype: int64

In [65]:
pd.unique(df['aspiration'])
df_aspiration = df.groupby('aspiration').size().order(ascending=False)
df_aspiration

aspiration
std      168
turbo     37
dtype: int64

In [66]:
pd.unique(df['num-of-doors'])
df_doors = df.groupby('num-of-doors').size().order(ascending=False)
df_doors

num-of-doors
four    114
two      89
?         2
dtype: int64

In [67]:
pd.unique(df['body-style'])
df_style = df.groupby('body-style').size().order(ascending=False)
df_style

body-style
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
dtype: int64

In [45]:
pd.unique(df['drive-wheels'])

array(['rwd', 'fwd', '4wd'], dtype=object)

In [46]:
pd.unique(df['engine-location'])

array(['front', 'rear'], dtype=object)

In [49]:
df['wheel-base'].order()

31      86.6
30      86.6
18      88.4
0       88.6
1       88.6
126     89.5
127     89.5
128     89.5
104     91.3
105     91.3
79      93.0
54      93.1
53      93.1
52      93.1
51      93.1
50      93.1
140     93.3
34      93.7
77      93.7
78      93.7
118     93.7
33      93.7
32      93.7
139     93.7
119     93.7
27      93.7
26      93.7
25      93.7
24      93.7
23      93.7
       ...
65     104.9
7      105.8
8      105.8
6      105.8
69     106.7
112    107.9
108    107.9
107    107.9
115    107.9
116    107.9
111    107.9
117    108.0
203    109.1
202    109.1
201    109.1
200    109.1
204    109.1
17     110.0
68     110.0
67     110.0
74     112.0
48     113.0
47     113.0
109    114.2
110    114.2
113    114.2
114    114.2
71     115.6
70     115.6
73     120.9
Name: wheel-base, dtype: float64

In [50]:
df['length'].order()

18     141.1
30     144.6
31     144.6
34     150.0
33     150.0
32     150.0
45     155.9
44     155.9
19     155.9
138    156.9
36     157.1
23     157.3
24     157.3
25     157.3
78     157.3
27     157.3
119    157.3
118    157.3
79     157.3
26     157.3
22     157.3
77     157.3
76     157.3
120    157.3
21     157.3
140    157.3
139    157.9
152    158.7
151    158.7
150    158.7
       ...
202    188.8
201    188.8
200    188.8
199    188.8
198    188.8
197    188.8
196    188.8
195    188.8
194    188.8
204    188.8
15     189.0
14     189.0
68     190.9
67     190.9
49     191.7
8      192.7
7      192.7
6      192.7
16     193.8
17     197.0
109    198.9
114    198.9
113    198.9
110    198.9
74     199.2
47     199.6
48     199.6
70     202.6
71     202.6
73     208.1
Name: length, dtype: float64

In [51]:
df['width'].order()

18     60.3
43     61.8
40     62.5
138    63.4
20     63.6
139    63.6
150    63.6
45     63.6
44     63.6
151    63.6
152    63.6
19     63.6
153    63.6
154    63.6
155    63.6
26     63.8
79     63.8
122    63.8
27     63.8
24     63.8
118    63.8
119    63.8
23     63.8
25     63.8
21     63.8
121    63.8
98     63.8
140    63.8
97     63.8
96     63.8
       ...
114    68.4
113    68.4
112    68.4
115    68.4
110    68.4
108    68.4
107    68.4
116    68.4
111    68.4
201    68.8
202    68.9
200    68.9
204    68.9
203    68.9
47     69.6
48     69.6
67     70.3
68     70.3
69     70.3
72     70.5
49     70.6
17     70.9
8      71.4
6      71.4
7      71.4
73     71.7
71     71.7
70     71.7
74     72.0
129    72.3
Name: width, dtype: float64

In [52]:
df['height'].order()

49     47.8
0      48.8
1      48.8
81     49.4
80     49.4
55     49.6
56     49.6
58     49.6
57     49.6
104    49.7
106    49.7
105    49.7
124    50.2
82     50.2
83     50.2
84     50.2
29     50.2
125    50.2
129    50.5
131    50.5
24     50.6
120    50.6
27     50.6
26     50.6
25     50.6
118    50.8
79     50.8
72     50.8
78     50.8
77     50.8
       ...
133    56.1
102    56.1
196    56.2
194    56.2
198    56.2
70     56.3
17     56.3
71     56.5
67     56.5
108    56.7
73     56.7
111    56.7
112    56.7
113    56.7
115    56.7
116    56.7
107    56.7
199    57.5
197    57.5
195    57.5
36     58.3
109    58.7
68     58.7
114    58.7
110    58.7
155    59.1
153    59.1
154    59.1
123    59.8
28     59.8
Name: height, dtype: float64

In [53]:
df['curb-weight'].order()

18     1488
30     1713
31     1819
32     1837
44     1874
19     1874
22     1876
21     1876
89     1889
50     1890
51     1900
52     1905
45     1909
20     1909
76     1918
91     1918
118    1918
92     1938
33     1940
77     1944
53     1945
54     1950
94     1951
34     1956
24     1967
120    1967
96     1971
150    1985
121    1989
26     1989
       ...
117    3130
180    3131
105    3139
106    3139
181    3151
199    3157
108    3197
203    3217
15     3230
109    3230
112    3252
116    3252
113    3285
102    3296
129    3366
16     3380
110    3430
114    3485
69     3495
17     3505
67     3515
72     3685
74     3715
71     3740
68     3750
70     3770
73     3900
49     3950
48     4066
47     4066
Name: curb-weight, dtype: int64

In [54]:
pd.unique(df['engine-type'])

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [55]:
pd.unique(df['num-of-cylinders'])

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'], dtype=object)

In [56]:
df['engine-size'].order()

18      61
57      70
55      70
56      70
32      79
58      80
22      90
21      90
20      90
19      90
24      90
26      90
118     90
120     90
121     90
45      90
44      90
25      90
51      91
50      91
54      91
52      91
53      91
36      92
35      92
76      92
77      92
78      92
155     92
154     92
      ...
12     164
13     164
178    171
179    171
180    171
202    173
102    181
101    181
106    181
105    181
104    181
103    181
70     183
69     183
68     183
67     183
127    194
126    194
128    194
129    203
17     209
16     209
15     209
71     234
72     234
48     258
47     258
74     304
73     308
49     326
Name: engine-size, dtype: int64

In [58]:
pd.unique(df['fuel-system'])

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'], dtype=object)

In [59]:
df['bore'].order()

134    2.54
2      2.68
31     2.91
30     2.91
34     2.91
35     2.91
18     2.91
32     2.91
33     2.91
36     2.92
121    2.97
78     2.97
77     2.97
26     2.97
25     2.97
24     2.97
22     2.97
122    2.97
21     2.97
118    2.97
120    2.97
76     2.97
90     2.99
184    3.01
203    3.01
182    3.01
192    3.01
187    3.01
45     3.03
50     3.03
       ...
142    3.62
139    3.62
149    3.62
47     3.63
48     3.63
108    3.70
116    3.70
114    3.70
112    3.70
110    3.70
127    3.74
126    3.74
128    3.74
65     3.76
197    3.78
196    3.78
195    3.78
200    3.78
201    3.78
75     3.78
194    3.78
204    3.78
73     3.80
74     3.80
129    3.94
125    3.94
55        ?
56        ?
57        ?
58        ?
Name: bore, dtype: object

In [60]:
df['stroke'].order()

134    2.07
111    2.19
113    2.19
138    2.36
149    2.64
139    2.64
140    2.64
141    2.64
142    2.64
143    2.64
144    2.64
145    2.64
146    2.64
147    2.64
148    2.64
0      2.68
1      2.68
49     2.76
10     2.80
11     2.80
202    2.87
128    2.90
127    2.90
126    2.90
163    3.03
164    3.03
151    3.03
152    3.03
150    3.03
154    3.03
       ...
108    3.52
116    3.52
175    3.54
176    3.54
177    3.54
173    3.54
40     3.58
41     3.58
39     3.58
38     3.58
37     3.58
42     3.58
66     3.64
68     3.64
69     3.64
70     3.64
67     3.64
84     3.86
83     3.86
124    3.86
82     3.86
29     3.90
131    3.90
130    3.90
47     4.17
48     4.17
57        ?
58        ?
55        ?
56        ?
Name: stroke, dtype: object

In [61]:
df['compression-ratio'].order()

84      7.0
29      7.0
117     7.0
82      7.0
9       7.0
124     7.0
83      7.0
199     7.5
80      7.5
88      7.5
87      7.5
198     7.5
23      7.6
79      7.6
119     7.6
27      7.6
145     7.7
149     7.7
105     7.8
15      8.0
16      8.0
17      8.0
65      8.0
4       8.0
73      8.0
74      8.0
75      8.0
47      8.1
48      8.1
72      8.3
       ...
30      9.6
45      9.6
44      9.6
19      9.6
20      9.6
3      10.0
129    10.0
188    10.0
32     10.1
49     11.5
116    21.0
114    21.0
110    21.0
108    21.0
112    21.0
70     21.5
67     21.5
69     21.5
68     21.5
90     21.9
66     22.0
159    22.5
158    22.5
174    22.5
63     22.7
184    23.0
192    23.0
182    23.0
203    23.0
187    23.0
Name: compression-ratio, dtype: float64